// COLORS NEEDED FOR THE PROJECT
$salmon-pink: #ff6060;
$light-grey: #f6f6f6;

// CSS ANIMATIONS AND TRANSITIONS

  // Collapse and expand for all the collapsibles

@keyframes fold-up {
  0% {
    max-height: 250px;
  }
  100% {
    max-height: 0;
  }
}

@keyframes expand {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 250px;
  }
}

  // Rotate buttons on collapsibles :
.rotate-down {
  transform: rotate(-0.5turn);
  transition: transform 0.3s ease-in-out;
}
.rotate-up {
  transform: rotate(0turn);
  transition: transform 0.5s ease-in-out;
}

// MIXINS TO BE REUSED IN THE PROJECT

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-row-center {
  display: flex;
  align-items: center;
}

@mixin pinkBG_whiteFont {
  background-color: $salmon-pink;
  color: white;
}

// The following mixins were created to implement a highly-responsive design
@mixin card-properties1 {
  height: calc(120px + 15vw);
  width: calc(120px + 15vw);
  border-radius: 10px;
}

// The following mixin was created to apply the same style to the collapsible content regardless of its state / modifier 
@mixin collapsibleContentStyle{
  @include flex-column;
  justify-content: center;
  margin: 0;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  top: -10px;
  background-color: $light-grey;
  @media all and (max-width: 1024px){
    font-size: 0.9rem;
  }
  @media all and (max-width: 1300px){
    font-size: 0.9rem;
  }
  @media all and (max-width: 376px){
    font-size: 0.8rem;
  }
}

@mixin mainAndHeaderwidths{
  @media all and (min-width: 1500px){
    width: 1390px;
  }
  @media all and (max-width: 1500px){
    width: 1240px;
  }
  @media all and (max-width: 1300px){
    width: 1020px;
  }
  @media all and (max-width: 1100px) {
    width: 950px;
  }
  @media all and (max-width: 1005px) {
    width: 880px;
  }
  @media all and (max-width: 920px) {
    width: 90vw;
  }
}

// MAIN SETTINGS
* {
  text-decoration: none;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0; 
  max-height: 100%;
  padding: 32px 0px 0px 0px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: $salmon-pink;
  @media all and (max-width: 920px) {
    padding: 16px 0 0 0;
  }
}

main {
  @include mainAndHeaderwidths();
  margin: 0 auto;
  min-width: 295px;
  padding-bottom: 240px;
    @media all and (max-width: 920px) {
      padding-bottom: 200px;
  }
  }

  .not-displayed{
    display: none;
  }


// COMPONENTS

// Banner

.banner {
  border-radius: 25px;
  margin: 5vh auto;
  width: 100%;
  height: 223px;
  background-color: #00000028;
  @media all and (max-width: 920px) {
    margin: 4vh auto;
    border-radius: 10px;
    height: 210px;
  }
  @media all and (max-width: 600px) {
    border-radius: 10px;
    margin: 3vh auto;
    height: 160px;
  }
  @media all and (max-width: 376px) {
    margin: 2vh auto;
    height: 111px;
  }

  &__image {
    border-radius: 25px;
    object-fit: cover;
    opacity: 1.7;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    mix-blend-mode: color-dodge;
    @media all and (max-width: 920px){
      border-radius: 10px;
    }
  }

  &__title {
    position: relative;
    z-index: 100;
    font-size: 3.2rem;
    font-weight: 500;
    color: white;
    text-align: center;
    @media all and (min-width: 1300px) {
      bottom: 180px;
      font-size: 3.2rem;
    }
    @media all and (max-width: 1300px) {
      bottom: 160px;
      font-size: 2.7rem;
    }
    @media all and (max-width: 920px) {
      font-size: 2.4rem;
    }
    @media all and (max-width: 600px) {
      bottom: 134px;
      padding: 0 16px;
      font-size: 2rem;
      text-align: left;
    }
    @media all and (max-width: 376px) {
      bottom: 110px;
      font-size: 1.6rem;
    }
  }
}

// Cards

.cards {
  @include card-properties1();

  @media all and (max-width: 920px) {
    margin: 0;
    width: 90vw;
    height: 290px;
  }
  @media all and (max-width: 376px) {
    margin: 0;
    width: 90vw;
    height: 250px;
    min-width: 295px;
  }
  &__cover {
    @include card-properties1();
    object-fit: cover;
    @media all and (max-width: 920px) {
      width: 100%;
      height: 290px;
    }
    @media all and (max-width: 376px) {
      width: 90vw;
      height: 250px;
      margin: 0;
      min-width: 295px;
    }
  }

  &__gradient {
    position: relative;

    &::after {
      content: "";
      @include card-properties1();
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.4)
      );
      @media all and (max-width: 920px) {
        width: 100%;
        height: 290px;
      }
      @media all and (max-width: 376px) {
        height: 250px;
        min-width: 295px;
      }
    }
  }

  &__title {
    position: relative;
    bottom: 20%;
    left: 10px;
    width: 92%;
    font-size: 1rem;
    color: #fff;
    @media all and (min-width: 1024px) {
      bottom: 20%;
      font-size: 1.1rem;
    }

    @media all and (max-width: 1024px) {
      bottom: 20%;
      font-size: 1rem;
    }

    @media all and (max-width: 920px) {
      bottom: 25%;
      font-size: 1.5rem;
    }

    @media all and (max-width: 600px) {
      bottom: 25%;
      font-size: 1.2rem;
    }
  }
}

// Carousel

.carousel {
  margin: 5vh auto 2vh auto;
  @media all and (max-width: 920px) {
    width: 100%;
  }

  &__image {
    border-radius: 10px;
    width: 100%;
    height: 415px;
    object-fit: cover;
    align-self: center;
    @media all and (min-width: 1300px) {
      height: 470px;
    }
    @media all and (max-width: 600px) {
      height: 300px;
    }
    @media all and (max-width: 376px) {
      height: 250px;
    }
  }

  &__arrows {
    position: relative;
    top: -240px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 96%;
    height: 0;
    @media all and (max-width: 600px) {
      top: -180px;
    }
    @media all and (max-width: 376px) {
      top: -145px;
    }
  }

  &__navigation {
    position: relative;
    top: -50px;
    height: 0;
    color: white;
    text-align: center;
    @media all and (max-width: 376px) {
      top: -30px;
    }
  }

  button {
    border: none;
    background: none;
    font-size: 3.75rem;
    color: white;
    @media all and (max-width: 600px) {
      font-size: 3rem;
    }
    @media all and (max-width: 376px) {
      font-size: 2rem;
    }
  }

  button :hover {
    cursor: pointer;
  }
}

// Collapsible

.collapsibles {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin: 16px 0;
  @media all and (max-width: 920px) {
    flex-direction: column;
    width: 100%;
  }

  .collapsibles__individual {
    margin: 16px 0;
    width: 100%;

    &__container {
      @include flex-column();
    }
    
    &__titleZone {
      @include flex-row-center();
      @include pinkBG_whiteFont();
      z-index: 100;
      justify-content: space-between;
      border-radius: 10px;
      height: 52px;
      padding: 0 3%;
      @media all and (max-width: 920px) {
        height: 45px;
      }
      @media all and (max-width: 600px) {
        height: 35px;
      }
      @media all and (max-width: 376px) {
        height: 30px;
      }
    }

    &__title {
      font-size: 1.3rem;
      font-weight: 500;
      @media all and (max-width: 920px) {
        font-weight: 400;
      }
      @media all and (max-width: 600px) {
        font-size: 1.1rem;
      }
    }

    &__icon {
      margin: 0;
      border: none;
      padding: 0;
      background: none;
      font-size: 1.8rem;
      color: inherit;
      cursor: pointer;
      @media all and (max-width: 600px) {
        font-size: 1.3rem;
      }
    }

    &__content {
        &--not-displayed{
          display: none;
        }
        &--collapsed {
          @include collapsibleContentStyle();
          max-height: 0;
          animation: fold-up 0.5s ease-out;
        }
        &--expanded{
          @include collapsibleContentStyle();
          max-height: 280px;
          transition: max-height 0.8s ease-out;
          animation: expand 0.8s ease-out;
        }
    }

    &__sizer {
      @include flex-column();
      height: fit-content;
      padding: 24px 16px 16px 24px;
      overflow: hidden;
      justify-content: center;
    }

  }
}

// Footer

.footer {
  @include flex-column-center();
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: space-around;
  box-sizing: border-box;
  padding-top: 66px;
  padding-bottom: 29px;
  width: 100%;
  min-width: 295px;
  height: 180px;
  background-color: black;
  color: white;
  @media all and (max-width: 920px) {
    justify-content: center;
    padding-bottom: 60px;
  }

  &__logo {
    margin-bottom: 2vh;
    width: 122px;
    height: 40px;
  }

  &__text {
    font-size: 1.125rem;

    @media all and (max-width: 920px) {
      width: 40%;
      font-size: 1rem;
      text-align: center;
    }

    @media all and (max-width: 376px) {
      font-size: 0.75rem;
    }
  }
}

//Gallery
.gallery {
  @include flex-row-center();
  position: relative;
  flex-wrap: wrap;
  gap: 3vw;
  justify-content: center;
  border-radius: 25px;
  margin: 0 auto;
  width: 100%;
  min-width: 295px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #f6f6f6;
  @media all and (max-width: 1300px) {
    gap: 5vw;
  }
  @media all and (max-width: 1300px) {
    gap: 2vw;
  }
  @media all and (max-width: 920px) {
    @include flex-column();
    justify-content: flex-start;
    padding-top: 2vh;
    background-color: white;
  }
  @media all and (max-width: 600px) {
    gap: 4vh;
  }
}

// Header

.header {
  @include mainAndHeaderwidths();
  @include flex-row-center();
  justify-content: space-between;
  margin: 0 auto;
  min-width: 295px;

  .kasa-logo {
    width: 211px;
    height: 68px;
    @media all and (max-width: 920px) {
      width: 146px;
      height: 47px;
    }
    @media all and (max-width: 350px) {
      width: 100px;
      height: 32px;
    }
  }

  .navbar {
    display: flex;
    gap: 56px;
    @media all and (max-width: 920px){
      gap: 25px;
    }
    
    a{
      color: $salmon-pink;
      font-size: 1.5rem;
      @media all and (max-width: 600px) {
        font-size: 1rem;
      }
      @media all and (max-width: 376px) {
        font-size: 0.75rem;
        text-transform: uppercase;
      }
    };

    &__links__active {
      text-decoration: underline;
    }
  }

}

// Rating

.rating {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  @media all and (min-width: 920px) {
    width: 100%;
    justify-content: space-between;
  }

  @media all and (max-width: 600px) {
    font-size: 1.125rem;
    justify-content: flex-start;
  }

  .active {
    color: $salmon-pink;
  }
  
  .inactive {
    color: #e3e3e3;
  }
}

// Tag

.tag {
  @include pinkBG_whiteFont();
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 10px;
  margin: 3vh 0 0 0;
  height: 25px;
  width: fit-content;
  padding: 2px 10px;
  font-size: 1rem;
  @media all and (max-width: 920px) {
    border-radius: 6px;
    padding: 1px 6px;
    font-size: 0.65rem;
  }
  @media all and (max-width: 600px) {
    margin: 0;
  }

  @media all and (max-width: 376px) {
    height: 8px;
    padding: 4px 6px 6px 6px;
    font-size: 0.6rem;
  }
}

// PAGES

// Error
.error {
  &__div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 32px auto;
    text-align: center;
    height: 60vh;
    min-height:300px;
    h1 {
      margin: auto;
      font-size: 16rem;
      font-weight: 700;
      text-align: center;
      @media all and (max-width: 920px) {
        font-size: 9rem;
      }
      @media all and (max-width: 376px) {
        font-size: 6rem;
      }
    }

    p {
      font-size: 2rem;
      font-weight: 500;
      margin: 0 auto 32px auto;

      @media all and (max-width: 920px) {
        font-size: 1.6rem;
      }
      @media all and (max-width: 376px) {
        font-size: 1.1rem;
      }
    }

    a {
      text-decoration: none;
      color: #ff6060;
      font-size: 1rem;
      font-weight: 500;
      margin: 0 auto;
      border-bottom: 2px solid $salmon-pink;

      @media all and (max-width: 376px) {
        font-size: 0.7rem;
      }
    }
  }
}

// About

.about {
  .collapsibles {
    @include flex-column();
    justify-content: space-between;
    width: 100%;
    gap: 0;
    margin: 0 auto 3vh;
    padding: 0;
    min-height: 65px;

    @media all and (min-width: 920px) {
      padding-top: 6vh;
      width: 80%;
    }

    @media all and (max-width: 920px) {
      width: 90vw;
    }
  }
  .banner {
    @media all and (max-width: 920px) {
      height: 300px;
      margin: 3vh auto;
    }

    @media all and (max-width: 376px) {
      height: 225px;
      min-width: 295px;
    }
  }
}

//Properties

.properties {
  width: 100%;
  padding-bottom: 0;
  margin: 0 auto;
  @media all and (max-width: 920px) {
    width: 90vw;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    @media all and (max-width: 920px) {
      margin-top: 1vh;
    }
    @media all and (max-width: 600px) {
      flex-direction: column;
    }
  }
  &__title {
    font-size: 2.1rem;
    font-weight: 500;
    margin: 0;

    @media all and (max-width: 1051px) {
      font-size: 1.8rem;
    }
    @media all and (max-width: 920px) {
      font-size: 1.5rem;
    }
    @media all and (max-width: 600px) {
      font-size: 1.35rem;
    }
    @media all and (max-width: 376px) {
      font-size: 1.2rem;
    }
  }

  &__subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    @media all and (max-width: 920px) {
      font-size: 1.3rem;
    }
    @media all and (max-width: 600px) {
      font-size: 1.15rem;
    }
    @media all and (max-width: 376px) {
      font-size: 1rem;
    }
  }

  &__tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.5vw;
    @media all and (max-width: 920px){
      gap: 1vw;
    }
  }

  &__info {
    @include flex-column();
    justify-content: space-between;
    gap: 8px;
    @media all and (max-width: 920px) {
      justify-content: flex-start;
      gap: 0;
    }
    @media all and (max-width: 600px) {
      gap: 1vh;
    }
  }
  &__host {
    @include flex-column();
    justify-content: space-around;

    @media all and (max-width: 920px) {
      gap: 1vh;
      align-items: flex-end;
    }
    @media all and (max-width: 600px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
    &__picture {
      border-radius: 50%;
      margin: 0 0 0 1.5vw;
      width: 64px;
      height: 64px;
      padding-top: 0;
      object-fit: cover;
      @media all and (max-width: 600px) {
        width: 50px;
        height: 50px;
      }
      @media all and (max-width: 300px) {
        width: 40px;
        height: 40px;
      }
    }
  
    &__info {
      @include flex-row-center();
      justify-content: flex-end;
      margin: 0;
      width: 180px;
      padding: 0;
      @media all and (max-width: 600px) {
        justify-content: right;
        gap: 1vw;
        width: 40%;
      }
    }
  
    &__name {
      margin: 0;
      height: 60px;
      padding: 0;
      text-align: right;
      line-height: 1.5;
      font-size: 1.2rem;
      @media all and (max-width: 600px) {
        display: flex;
        align-items: center;
        width: 40%;
        font-size: 1rem;
      }
      @media all and (max-width: 376px) {
        width: 70%;
        font-size: 1rem;
      }
      @media all and (max-width: 300px) {
        font-size: 0.8rem;
        width: 70%;
      }
    }
  
    &__rating {
      @media all and (min-width: 920px) {
        width: 100%;
        padding-top: 16px;
      }
      @media all and (max-width: 920px) {
        width: 130px;
        padding-top: 16px;
      }
      @media all and (max-width: 600px) {
        padding-top: 0
      }
  }

  }

  .collapsibles {
    //Fixe la gap des collapsibles des propriétés en 920 pix et plus que 920px
    @media all and (min-width: 920px) {
      gap: 4vw;
    }
    @media all and (max-width: 920px) {
      gap: 0;
      margin: 0;
    }
    .collapsibles__individual__sizer{
      min-height: 60px;
      @media all and (min-width: 920px){
        min-height: 170px
      }
    }
  }

  .collapsible__size {
    //définit la hauteur et la disposition du collapsible des propriétés
    @include flex-column();
    justify-content: space-around;
    @media all and (min-width: 920px) {
      min-height: 150px;
    }
  }

}


