// FONTS NEEDED FOR THE PROJECT

@font-face {
  font-family: "Montserrat";
  src: url("../Fonts/Montserrat.ttf");
}

// COLORS NEEDED FOR THE PROJECT
$salmon-pink:#FF6060;
$light-grey:#F6F6F6;


// MIXINS TO BE REUSED IN THE PROJECT

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-row-center{
  display: flex;
  align-items: center;
}

@mixin pinkBG_whiteFont{
  background-color: $salmon-pink;
  color: white
}

@mixin border-radius10{
  border-radius: 10px;
}

@mixin card-properties1{
  height: calc(120px + 9vw);
  width :calc(120px + 9vw);
  border-radius: 10px;
}

// MAIN SETTINGS
*{
  padding: 0;
  margin: 0;
  text-decoration: none;}
  
.active{
  color: $salmon-pink;}

body { 
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 32px 0px 130px 0px;
  color: $salmon-pink;
  overflow-x: hidden;

}

h2{
  font-size: 1.3rem
}


main{
  margin: 2% 10%;
  width: 80%;
  padding-bottom: 120px;
  align-self: center;
  min-width: 275px;

  @media all and (max-width: 920px){
    width:90%;
    margin: 2% 5%;
  }
  
  @media all and (max-width: 375px){
    width:95%;
    margin: 2% 2.5%;
  }
}

.not-displayed{
  display: none;
}

// COMPONENTS

    // Header

.header{
  @include flex-row-center();
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  min-width: 275px;

  @media all and (max-width: 920px){
    width:90%;
    margin: 2% 5%;
  }
  
  @media all and (max-width: 375px){
    width:95%;
    margin: 2% 2.5%;
  }
  
  .kasa-logo{
      width: 211px;
      height: 68px;

      @media all and (max-width: 920px){
          width: 146px;
          height: 47px;
        }
      }

  .navbar{
    display: flex;
    gap: 3.5vw;
  }

  .navbar__links, .navbar__links__active {
    color:$salmon-pink;
    font-size: 1.5rem;

    @media all and (max-width: 600px){
      font-size: 1rem
    }
    @media all and (max-width: 375px){
      font-size: 0.75rem;
    }
  }

  .navbar__links__active{
    padding-bottom: 0.7vh;
    border-bottom: 2px solid $salmon-pink;
  }

}

    // Banner

.banner{
  @include border-radius10();
  height: 25vh;
  width: 100%;
  margin: 5vh auto;
  background-color: #00000028;

  @media all and (max-width: 920px) {
    height: 15vh;    
  }



  .banner__image{
    @include border-radius10();
    z-index: 10;
    object-fit: cover;
    width: 100%;
    height: 100%;
    mix-blend-mode:color-dodge;
    opacity: 1.7; 
  }

  .banner__title{
    z-index: 100;
    position: relative;
    text-align: center;
    bottom: 70%;
    font-size: 2.5rem;
    font-weight:500;
    color: white;

      @media all and (max-width: 1051px) {
        font-size: 1.9rem;
        bottom: 70%;
        text-align: center;
      }
      @media all and (max-width: 600px) {
        font-size: 1.9rem;
        bottom: 70%;
        text-align: center;
      }
      @media all and (max-width: 375px) {
        font-size: 1.6rem;
      }
  }
}
    
    // Footer

.footer{
  @include flex-column-center();
  position: absolute;
  bottom: 0;
  left:0;
  justify-content: space-around;
  width: 100vw;
  height:120px;
  background-color: black;
  color: white;
  padding: 5vh 0 3vh 0;

  @media all and (max-width:920px){
    justify-content: center;
    margin-top:0;}

  .footer__logo{
    margin-bottom: 2vh;
    width: 122px;
    height: 40px;
  }

  .footer__text{
    font-size: 1.125rem;

    @media all and (max-width:920px){
      font-size: 1rem;
      width: 40%;
      text-align: center;
    }
    
    @media all and (max-width:375px){
        font-size: 0.75rem
    }
  }
}


    //Gallery
.gallery{
  @include flex-row-center();
  position: relative;
  flex-wrap: wrap;
  justify-content:center;
  border-radius: 20px;
  background-color: #F6F6F6;
  width: 100%;
  margin: 2vh auto;

  @media all and (max-width: 920px){
    @include flex-column();
    gap: 4vh;
    background-color: white;;
  }

  a{
    display: flex;
  }

  .cards__individual{
    @include card-properties1();
    margin: 1.5vh 0.9vw;

    @media all and (max-width: 920px) {
      width:88vw;
      height: 30vh; 
      margin: 0;     
    }

    @media all and (min-width: 600px){
      margin: 1.5vh 1.5vw
    }
  }

  .cards__cover{
    @include card-properties1();
    object-fit: cover;
    @media all and (max-width: 920px) {
      width:100%;
      height: 30vh
    }
  }

  .cards__gradient{
    position: relative;
  
    &::after{
      content:'';
      @include card-properties1();
      position: absolute;
      top:0;
      left:0;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
      
      @media all and (max-width: 920px) {
        width:100%;
        height: 30vh;
      }
    }
  }

  .cards__title{
    position: relative;
    bottom:65px;
    left: 10px;
    width:92%;
    font-size: 1rem;
    color: #fff;

    @media all and (max-width: 1124px){
      font-size: 1.1rem;
    }

    @media all and (max-width: 1100px){
      font-size: 0.9rem;
    }

    @media all and (max-width: 920px){
      font-size: 1.5rem;
    }
  }
}

    // Collapsible 


    .collapsibles{
      display: flex;
      justify-content: space-between;
      gap: 16px;
      margin: 5vh 0 10vh 0; 
    }
    
    .collapsible{
      width: 100%;
      margin: 2vh 0;    
      .collapsible__heading{
        @include flex-row-center();
        @include pinkBG_whiteFont();
        justify-content: space-between;
        width: 96%;
        z-index: 100;
        font-weight: 300;
        height:52px;
        padding:0 2%;
        border-radius: 10px;
      }
    
      .collapsible__icon{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        margin:0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
      }
    
      .rotate-left {
        transform: rotate(-0.5turn);
        transition: transform 0.3s ease-in-out;
      }
      .rotate-right {
        transform: rotate(0turn);
        transition: transform 0.3s ease-in-out;
      }
    
      .collapsible__content{
        position: relative;
        top:-25px;
        background-color: $light-grey;
        margin: 0;
        padding: 35px 12.5px 25px 12.5px; 
      }
      .collapsible__full {
        @include flex-column();
      }
    
      .collapsible__components{
        @include flex-column();
        width: 100%;
      }
    
    .collapsible__high .displayed{
      @include flex-column;
      font-size: 1rem;
      height: 70px;
    }
    
    // .collapsible__full .displayed{
    //   font-size: 1.3rem;
    // }

  }
    // Carousel

.carousel{
  margin: 5vh auto 2vh auto;

  .carousel__image{
    width: 100%;
    height:415px;
    align-self: center;
    border-radius: 20px;
    object-fit: cover;
    }
  
  .carousel__arrows{
      display: flex;
      justify-content: space-between;
      width: 96%;
      margin: 0 auto;
      position: relative;
      top: -240px;
      height: 0;
    }
    .carousel__navigation{
      color: white;
      text-align: center;
      position: relative;
      top: -50px;
      height: 0;
  
    }
  
  
  button{
    border:none;
    background: none;
    color: white;
    font-size: 3.75rem;
    
  }
  
  button :hover{
    cursor: pointer
  }
}

    // Tag

.tag{
  @include pinkBG_whiteFont();
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  border-radius:10px;
  width:fit-content;
  font-size: 0.9rem;
  text-align: center;
  height: 25px;
  padding: 2px 8px;
  margin: 3vh 0 0 0;

  @media all and (max-width: 600px){
    font-size: 0.7rem;
    height:12px;
    padding: 4px 6px 6px 6px;
    border-radius: 6px;
    margin:0;
  }

  @media all and (max-width: 375px){
      font-size: 0.6rem;
      height:8px;
      padding: 4px 6px 6px 6px;
      border-radius: 6px;
    }
}


    // Rating

.rating{
  color: #E3E3E3;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;

  @media all and (max-width:600px){
    font-size: 1.125rem;
    justify-content: flex-start;
  }
}


// PAGES

    // Error

.error{
  margin: auto;
  min-height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .error__title{
    font-size: 16rem;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
  }

  .error__info{
    font-size: 2rem;
    font-weight: 500;
    margin:0
  }

  .error__link{
    text-decoration: none;
    color:#FF6060;
    font-size: 1rem;
    font-weight: 500;
    padding: 5vh 0 1vh 0;
    margin: 0 auto;
    border-bottom: 2px solid $salmon-pink;
  }
}


    // About

.about__collapsibles{
  @include flex-column();
  min-height:37vh;
  justify-content: space-between;
}


    //Properties

.properties{

  .properties__content{
    display: flex;
    justify-content: space-between;
  }
  .properties__title{
    font-size: 2.1rem;
    font-weight: 500;
  }

  .properties__subtitle{
    font-size: 1.5rem;
    font-weight: 500;
  }

  .properties__tags{
    display: flex; 
    justify-content: flex-start;
    gap: 1.5vw;
  }

  .properties__info{
    @include flex-column();
    justify-content: space-between;
    gap: 8px;
  }
  .properties__host{
    @include flex-column();
    justify-content: flex-start;
    gap: 3vh;
    height: 100%;
  }
  .properties__host__picture {
    border-radius:50%;
    margin: 0 0 0 1vw;
    height: 64px;
    width: 64px;
    object-fit: cover;
  }
  
  .properties__host__info{
    @include flex-row-center();
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 196px;
  }
  
  .properties__host__name{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.125rem;
    text-align: right;
  }
}



// MEDIA QUERIES


@media all and (min-width: 1300px){
  header, main {
    width: 80%;
    margin: 0 10%
  };

}
    // 1300px

@media all and (max-width: 1300px) {
  .carousel{
    .carousel__image{
      height: 375px;
    }

    button{
      font-size: 2.8rem;
    }
    .carousel__navigation{
      top:-30px;
      font-size: 1rem;
    }

    .carousel__arrows{
      top: -210px;
    }
  }

    .collapsible{
    .collapsible__high .displayed{
      font-size: 1rem;
    }
  }
}

      // 1051 px

@media all and (max-width: 1051px) {

  .carousel{
    margin: 0;

    .carousel__image{
      height: 350px;
      text-align: center;
    }

    .carousel__arrows{
      top: -195px;
    }
  }


}


    // 920px

@media all and (max-width: 920px) {

  .carousel{
    .carousel__image{
      height: 330px;
    }

    .carousel__arrows{
      top: -185px;
    }

    button{
      font-size: 2rem;
    }
  }


  .error{
    .error__title{
    font-size: 11rem;
    }
    .error__info{
      font-size: 1.6rem
    }
  }

.collapsible h2{
    font-size: 1.2rem;
  }
  

.collapsibles{
  margin: 2vh 0;
  flex-direction: column;
  gap: 0;

  .collapsible__high .displayed{
    height: 70px;
  }

  .collapsible__heading{
    height: 40px;
    font-size: 1rem;
    font-weight: 400;
  }

}

.collapsible__components{
  margin: 0;
  padding: 0;
}



.properties{
  .properties__title{
    font-size: 1.3rem
  }
  .properties__subtitle{
    font-size: 1rem;
  }
  .properties__host{
    gap: 1vh;
    align-items: flex-end;
  }
  .properties__host__name{
    font-size: 1.2rem;
  }
  .properties__host__rating{
    width: 130px;
  }
  .properties__content{
    margin-top: 1vh
  }
}


}


    // 600px

@media all and (max-width: 600px){


  .collapsible{
    .collapsible__icon{
    position: relative;
    top: 3px;
  }
}


  .collapsible h2{
    font-size: 1rem;
  }
.collapsibles{
  align-items: center;
}
  .collapsible{
    .collapsible__heading{
      height: 35px;
    }
    .collapsible__high .displayed{
      font-size: 0.8rem;
      height: 60px;
    }
}

   .properties{
    .properties__title{
      font-size: 1rem;
    }
    .properties__subtitle{
      font-size: 0.875rem
    }
    .properties__content{
      flex-direction: column;
    }
    .properties__host{
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      margin-top: 2vh;
    }
    .properties__host__info{
      justify-content: right;
      width:30%;
    }
    .properties__host__picture {
      width: 50px;
      height: 50px;
    }
  // permet de bien aligner les étoiles avec les renseignements sur l'hôte
    .properties__host__rating{
      padding-top:0;
    }
  }




}

    //480px

@media all and (max-width: 480px){
  .carousel{
    .carousel__image{
      height: 300px;
    }

    .carousel__arrows{
      top: -170px;
    }
  }



}

    //375px

@media all and (max-width: 375px){

  .carousel__image{
    height: 300px;
  }



  .collapsible{
    .collapsible__icon{
    position: relative;
    top: 2px;
    }

    .collapsible__high .displayed{
      font-size: 0.8rem;
      height: 70px;
    }
  }

  .properties{
    .properties__title{
      font-size: 0.8rem;
    }
    .properties__subtitle{
      font-size: 0.7rem
    }
    .properties__host__name{
      font-size: 1rem;
      width: 60%;
    }
  }


}