@font-face {
  font-family: "Montserrat";
  src: url("Assets/Fonts/Montserrat.ttf");
}
$text-color:#FF6060;
$background-color:#F6F6F6;

*{
  margin: 0;
  padding: 0;
  text-decoration: none;}

h2{
  font-size: 24px ;
}
body {
  position: relative;
  height: fit-content;
  padding: 45px 0px 0px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: $text-color;
  font-size: 18px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  min-height: 100vh;
}

main{
  margin: 5vh auto;
  width: 1240px;
}

.header{
  width: 1240px;
  margin: 2vh auto 5vh auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar{
    display: flex;
    gap:57px;
  }

  .navbar__links{
    text-decoration: none !important;
    color:$text-color;
    font-size: 24px;;
  }

}

.footer{
  align-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 160px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 3vh 0 1vh 0;
  margin-top:5vh;

  .footer__logo{
    width: 122px;
    font-size: 15px;
    margin-bottom: 1vh;
  }
}

.error{
  height:60vh;
  margin: auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .error__title{
    font-size: 16rem;
    font-weight: 700;
    margin: 0;
  }

  .error__info{
    font-size: 2rem;
    font-weight: 500;
    margin:0
  }

  .error__link{
    text-decoration: none;
    color:#FF6060;
    font-size: 1rem;
    font-weight: 500;
    padding: 5vh 0 1vh 0;
    margin: 0 auto;
    border-bottom: 2px solid $text-color;
  }
}


.banner{
  height: 223px;
  width: 1240px;
  margin: 5vh auto;
  border-radius: 20px;
  background-color: #00000028;

  .banner__image{
    z-index: 10;
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    opacity: 1.5;
    filter:grayscale(0.8);
    filter: saturate(1.2);
    
  }

  .banner__slogan{
    z-index: 100;
    position: relative;
    text-align: center;
    bottom: 60%;
    font-size: 2.5rem;
    font-weight:500;
    color: white;
  }
}

.cards{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-radius: 20px;
  background-color: #F6F6F6;
  width: 1240px;
  margin: 5vh auto 0 auto;


  .cards__individual{
    height: 340px;
    width: 340px;
    border-radius: 20px;
    margin: 36px;
  }

  .cards__cover{
    object-fit: cover;
    border-radius: 20px;
    height: 340px;
    width:100%;
  }

  .cards__gradient{
    position: relative;
  
    &::after{
      content:'';
      position: absolute;
      top:0;
      left:0;
      height: 340px;
      width: 340px;
      border-radius: 20px;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    }
  }



  .cards__title{
    position: relative;
    bottom:50px;
    left: 15px;
    width:30%;
    font-size: 1rem;
    color: #fff;
  }
}


.collapsible{
  display:flex;
  margin: 2vh 0;
  gap: 5%;
  

  .collapsible__heading{
    width: 96%;
    z-index: 100;
    background-color: #FF6060;
    font-size: 2rem;
    font-weight: 300;
    color: white;
    height:52px;
    padding:0 2%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .collapsible__icon{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin:0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .rotate-left {
    transform: rotate(-0.5turn);
    transition: transform 0.4s ease-in-out;
  }
  .rotate-right {
    transform: rotate(0turn);
    transition: transform 0.4s ease-in-out;
  }


  .collapsible__content{
    position: relative;
    top:-25px;
    background-color: $background-color;
    margin: 0;
    padding: 52px 12.5px 25px 12.5px; 
  }
  .collapsible__full {
    flex-direction: column;
  }

  .collapsible__half{
    width: 48%;
  }

  .collapsible__components{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}


.carousel__image{
  width: 1240px;
  height:415px;
  align-self: center;
  border-radius: 20px;
  object-fit: cover;
  }

.carousel__arrows{
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
    position: relative;
    top: -240px;
  
  }

button{
  border:none;
  background: none;
  color: white;
  font-size: 60px;
}

button :hover{
  cursor: pointer
}
.not-displayed{
  display: none;
}

//  Ajouté pour garder le footer en place 
.about__collapsibles{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.properties{
  width: 1240px;
  margin: 0 auto;

  .properties__content{
    display: flex;
    justify-content: space-between;
  }
  .properties__title{
    font-size: 36px
  }

  .properties__subtitle{
    font-size: 24px;
    margin: 1vh 0;
  }
}

.tag{
  background-color: $text-color;
  border-radius:10px;
  width:fit-content;
  height: 25px;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 6px 12px 0 12px;
  margin: 2vh 0
}

.tags__display{
  display: flex; 
  justify-content: flex-start;
  gap: 24px;
  
}

.rating{
  color: #E3E3E3;
  font-size: 24px;
  display: flex;
  gap: 5px;

}
